<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Content/Site.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-1.10.2.custom.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/jquery.multiselect.css" media="screen" />
    </head>
    <body>
        <div id="body">
            @RenderBody()
        </div>
    </body>
    <script type="text/javascript">
        function ajax(typeIn, urlIn, dataIn, asyncIn) {
            var actionlink = '@Url.Action("Action", "Home")';
            var link = actionlink.replace("Action", urlIn);

            return $.ajax({
                type: typeIn,
                dataType: 'json',
                url: link,
                data: dataIn,
                contentType: 'application/json; charset=utf-8',
                async: asyncIn
            });
        }
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.multiselect.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Control.js"></script>
</html>
