@{
    ViewBag.Title = "Index";
}
<title>Sample Form</title>
<h1>SOAP Form</h1>
<body>
<a href="#" onclick="toggle('AProf')">Anesthetist Profile</a>
<div id = "AProf" style="display:none">
    <form name = "Profile">
        <ol>
         <li>First name: <input type="text" name="fname"/></li>
         <li>Last name: <input type="text" name="lname"/></li>
         <li>Email: <input type="text" name="email"></li>
         <li>Date (dd/mm/yyyy): <input type="text" name="date"></li><br>
         <input type = "submit" value = "Submit" />
        </ol>
    </form>
</div>
 <h4>Patient Information</h4>
 
    <form name = "PatientInfo">
        <ol>
            <li>Procedure: 
            <select name = "Procedure">
            <option value = "Prod1">Value 1</option>
            <option value = "Prod2">Value 2</option>
            <option value = "Prod3">Value 3</option>
            </select>
            </li>
        </ol>
    </form>
</body>


<script type="text/javascript">

    function toggle(id) {
        var e = document.getElementById(id);

        if (e.style.display == '')
            e.style.display = 'none';
        else
            e.style.display = '';
    }
 
</script>