@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

<form action="" name="admin">
    <div class="left half">
        <div class="input">
            <label>Dropdown Category</label>
            <select id="dropdownCat" onchange="PopulateAdminDropdownValues(this.value)">
			</select>
        </div>
        <div class="input">
            <label>Values</label>
            <table id="dropdown-table">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>            
                </thead>
                <tbody id="dropdown-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="right half">
        <div class="input">
            <label>Users</label> <br />
            <select id="users" multiple style="float:none;margin-left:200px;height:200px;">
            </select>
        </div>
        <div class="input">
            <input type="button" id="delete-user" value="Delete" class="submit left" onclick="deleteUser($('#users').val())"/>
            <input type="button" id="promote-user" value="Promote" class="submit right" onclick="promoteUser($('#users').val())"/>
        </div>
    </div>
</form>