@{
    ViewBag.Title = "Anesthetic Plan";
}
            <form action="" name="AnestheticPlan">
            <div class="left half">
            <h2>Anesthetic Plan</h2>
            <h4>Premedication</h4>
                <div class="input">
                    <label>Route of Administration: </label>
                    <button type="button" id="AnestheticPlan-Premedication-Route" class="toolTipButton" onclick="toolTipGenerate(13, 'Patient.AnestheticPlan.PreMedications.Route')">?</button>
                    <select name="PreMedRoute" id="Patient.AnestheticPlan.PreMedications.Route" subgroup="PreMedications">
					</select>
                </div>
                <div class="input">
                    <label>Sedative Drugs: </label>
                    <button type="button" id="AnestheticPlan-Premedication-SedativeDrug" class="toolTipButton" onclick="toolTipGenerate(21, 'Patient.AnestheticPlan.PreMedications.SedativeDrug')">?</button>
                    <label id="Premed-Sedative-Dosage"></label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlan.PreMedications.SedativeDrug" subgroup="PreMedications">
					</select>
                </div>
               <!---<div class="input">
                    <input type="button" onclick="calculateDosages()" value="test" />
                </div>--->
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlan.PreMedications.SedativeDosage" subgroup="PreMedications"/>
                </div>
                <div class="input">
                    <label>Opioid Drugs: </label>
                    <button type="button" id="AnestheticPlan-Premedication-OpioidDrug" class="toolTipButton" onclick="toolTipGenerate(22, 'Patient.AnestheticPlan.PreMedications.OpioidDrug')">?</button>
                    <label id="Premed-Opioid-Dosage"></label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlan.PreMedications.OpioidDrug" subgroup="PreMedications">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlan.PreMedications.OpioidDosage" subgroup="PreMedications"/>
                </div>
                <div class="input">
                    <label>Anticholinergic Drugs: </label>
                    <button type="button" id="AnestheticPlan-Premedication-AnticholinergicDrug" class="toolTipButton" onclick="toolTipGenerate(23, 'Patient.AnestheticPlan.PreMedications.AnticholinergicDrug')">?</button>
                    <label id="Premed-Anticholinergic-Dosage"></label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlan.PreMedications.AnticholinergicDrug" subgroup="PreMedications">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlan.PreMedications.AnticholinergicDosage" subgroup="PreMedications"/>
                </div>
            </div>
            <div class="right half">
            <div style="margin-top: 115px"></div>
               <div class="input">
			       <label>Ketamine Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlan.PreMedications.KetamineDosage" subgroup="PreMedications"/>
                </div>                
            
            </div>
             </form>