@{
    ViewBag.Title = "Anesthetic Plan";
}
            <form action="">
            <div class="left half">
            <h2>Anesthetic Plan</h2>
            <h4>Premedication</h4>
                <div class="input">
                    <label>Route of Administration: </label>
                    <select name="PreMedRoute" id="Patient.AnestheticPlanPremedication.Route">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Select Drugs: </label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlanPremedication.Drug">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlanPremedication.Dosage" />
                </div>
                <div class="input">
                    <label>Select Other Drugs: </label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlanPremedication.DrugTwo">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlanPremedication.DosageTwo" />
                </div>
                <div class="input">
                    <label>Select Other Drugs: </label>
                    <select name="PreMedDrugs"  id="Patient.AnestheticPlanPremedication.DrugThree">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" id="Patient.AnestheticPlanPremedication.DosageThree" />
                </div>
            </div>
           

             </form>