@{
    ViewBag.Title = "Banner";
}

<div id="top-wrap">
    <div id="title"><p>Ohio State Anesthesia SOAP Plan</p></div>
    <div id="user-info">
        <div id="user-name">Brutus.1</div>
        <div id="sign-out"><a href="#" >Sign Out</a></div>
    </div>
</div>
