@{
    ViewBag.Title = "Blood Work";
}

<h2>BloodWork</h2>
				<form action="" name="Bloodwork">
                <div class="left half">
                <div class="input">
			       <label>PCV:</label>
                   <input type="text" name="PCV" class="inline" id="Patient.Bloodwork.PCV"/>
                </div>
                <div class="input">
			       <label>TP:</label>
                   <input type="text" name="TP" class="inline" id="Patient.Bloodwork.TP"/>
                </div>
                <div class="input">
			       <label>Albumin:</label>
                   <input type="text" name="Albumin" class="inline" id="Patient.Bloodwork.Albumin"/>
                </div>
                <div class="input">
			       <label>Globulin:</label>
                   <input type="text" name="Globulin" class="inline" id="Patient.Bloodwork.Globulin"/>
                </div>
                <div class="input">
			       <label>WBC:</label>
                   <input type="text" name="WBC" class="inline" id="Patient.Bloodwork.WBC"/>
                </div>
                <div class="input">
			       <label>Na+:</label>
                   <input type="text" name="Na" class="inline" id="Patient.Bloodwork.Na"/>
                </div>
                <div class="input">
			       <label>K+:</label>
                   <input type="text" name="K" class="inline"  id="Patient.Bloodwork.K"/>
                </div>
                <div class="input">
			       <label>Cl-:</label>
                   <input type="text" name="Cl" class="inline" id="Patient.Bloodwork.Cl"/>
                </div>
                <div class="input">
			       <label>Ca++:</label>
                   <input type="text" name="Ca" class="inline" id="Patient.Bloodwork.Ca"/>
                </div>
                </div>
                <div class="right half">
                <div class="input">
			       <label>iCa:</label>
                   <input type="text" name="iCa" class="inline" id="Patient.Bloodwork.iCa"/>
                </div>
                <div class="input">
			       <label>Glucose:</label>
                   <input type="text" name="Glucose" class="inline" id="Patient.Bloodwork.Glucose"/>
                </div>
                <div class="input">
			       <label>ALT:</label>
                   <input type="text" name="ALT" class="inline" id="Patient.Bloodwork.ALT"/>
                </div>
                <div class="input">
			       <label>ALP:</label>
                   <input type="text" name="ALP" class="inline" id="Patient.Bloodwork.ALP"/>
                </div>
                <div class="input">
			       <label>BUN:</label>
                   <input type="text" name="BUN" class="inline" id="Patient.Bloodwork.BUN"/>
                </div>
                <div class="input">
			       <label>CREAT:</label>
                   <input type="text" name="CREAT" class="inline" id="Patient.Bloodwork.CREAT"/>
                </div>
                <div class="input">
			       <label>USG:</label>
                   <input type="text" name="USG" class="inline" id="Patient.Bloodwork.USG"/>
                </div>
                <div class="input">
			       <label>Other BloodWork Type:</label>
                   <input type="text" name="OtherType" class="inline" id="Patient.Bloodwork.OtherBloodworkType"/>
                </div>
                <div class="input">
			       <label>Other Bloodwork Results:</label>
                   <input type="text" name="OtherValue" class="inline" id="Patient.Bloodwork.OtherBloodworkResults"/>
                </div>
                </div>
				</form>