@{
    ViewBag.Title = "Blood Work";
}

<h2>BloodWork</h2>
				<form action="">
                <div class="left half">
                <div class="input">
			       <label>PCV (%):</label>
                   <input type="text" name="PCV" class="inline"/>
                </div>
                <div class="input">
			       <label>TP (g/dL):</label>
                   <input type="text" name="TP" class="inline"/>
                </div>
                <div class="input">
			       <label>Albumin (g/dL):</label>
                   <input type="text" name="Albumin" class="inline"/>
                </div>
                <div class="input">
			       <label>Globulin (g/dL):</label>
                   <input type="text" name="Globulin" class="inline"/>
                </div>
                <div class="input">
			       <label>WBC (TBD):</label>
                   <input type="text" name="WBC" class="inline"/>
                </div>
                <div class="input">
			       <label>Na+ (TBD):</label>
                   <input type="text" name="Na" class="inline"/>
                </div>
                <div class="input">
			       <label>K+ (TBD):</label>
                   <input type="text" name="K" class="inline"/>
                </div>
                <div class="input">
			       <label>Cl- (TBD):</label>
                   <input type="text" name="Cl" class="inline"/>
                </div>
                <div class="input">
			       <label>Ca++ (TBD):</label>
                   <input type="text" name="Ca" class="inline"/>
                </div>
                </div>
                <div class="right half">
                <div class="input">
			       <label>iCa (TBD):</label>
                   <input type="text" name="iCa" class="inline"/>
                </div>
                <div class="input">
			       <label>Glucose (TBD):</label>
                   <input type="text" name="Glucose" class="inline"/>
                </div>
                <div class="input">
			       <label>ALT (TBD):</label>
                   <input type="text" name="ALT" class="inline"/>
                </div>
                <div class="input">
			       <label>ALP (TBD):</label>
                   <input type="text" name="ALP" class="inline"/>
                </div>
                <div class="input">
			       <label>BUN (TBD):</label>
                   <input type="text" name="BUN" class="inline"/>
                </div>
                <div class="input">
			       <label>CREAT (TBD):</label>
                   <input type="text" name="CREAT" class="inline"/>
                </div>
                <div class="input">
			       <label>USG (TBD):</label>
                   <input type="text" name="USG" class="inline"/>
                </div>
                </div>
				</form>