@{
    ViewBag.Title = "Clinical Findings";
}

 <h2>Clinical Findings</h2>
				<form action="">
                <div class="left half">
                <div class="input">
			       <label>Temperature (F):</label>
                   <input type="text" name="Temperature" class="inline" id="Patient.ClinicalFindings.Temperature" section="ClinicalFindings"/>
                </div>
                <div class="input">
			       <label>Pulse Rate (bpm):</label>
                   <input type="text" name="PulseRate" class="inline" id="Patient.ClinicalFindings.PulseRate" section="ClinicalFindings"/>
                </div> 
                <div class="input">
			       <label>Respiratory Rate (bpm):</label>
                   <input type="text" name="RespiratoryRate" class="inline" id="Patient.ClinicalFindings.RespiratoryRate" section="ClinicalFindings"/>
                </div> 
                <div class="input">
                    <label>Cardiac Auscultation: </label>
                    <select name="CardiacAuscultation"  id="Patient.ClinicalFindings.CardiacAuscultation" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                <div class="input">
                    <label>Pulse Quality: </label>
                    <select name="PulseQuality" id="Patient.ClinicalFindings.PulseQuality" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                <div class="input">
                    <label>Capillary Refill Time: </label>
                    <select name="CapillaryRefillTime" id="Patient.ClinicalFindings.CapillaryRefillTime" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                <div class="input">
                    <label>Respiratory Auscultation: </label>
                    <select name="RespiratoryAuscultation" id="Patient.ClinicalFindings.RespiratoryAuscultationId" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                <div class="input">
                    <label>Physical Status Classification: </label>
                    <select name="PhysicalStatusClassification" id="Patient.ClinicalFindings.PhysicalStatusClass" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                <div class="input">
                <label>Classification Reason:</label>
                    <input type="text" name="ReasonForClassification" class="inline" id="Patient.ClinicalFindings.ReasonForClassification" section="ClinicalFindings"/>
                    
                </div>

                </div>

                                                                                                                         

                <div class="right half">
                <div class="input">
                    <label>Mucous Membrane Color: </label>
                    <select name="MucousMembraneColor" id= "Patient.ClinicalFindings.MucousMembraneColor" section="ClinicalFindings" onchange="dropdownSelected(this.getAttribute('section'), this.name, this.value)">
					</select>
                </div>
                     <div class="input">
                        <label>Prior Anesthesia</label>
                        <input type="radio" name="PriorAnesthesia" value="PriorYes" class="radio" id="Patient.ClinicalFindings.PriorAnesthesia.Yes" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.PriorAnesthesia.Yes" class="radio">Yes</label>
                        <input type="radio"  name="PriorAnesthesia" value="PriorNo" class="radio" id="Patient.ClinicalFindings.PriorAnesthesia.No" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.PriorAnesthesia.No" class="radio">No</label>
                    </div> 
                    <div class="input">
			           <label>Date:</label>
                       <input type="text" name="DateOfProblem" class="inline" id="Patient.ClinicalFindings.Date" section="ClinicalFindings" onchange="dateSelected(this.getAttribute('section'), this.name, this.value)"/>
                    </div>
                    <div class="input">
			           <label>Problems:</label>
                       <input type="text" name="Problem" class="inline"id="Patient.ClinicalFindings.Problems" section="ClinicalFindings"/>
                    </div>
                    <div class="input">
                    <label>Concerns:</label>
                        <br />
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Anemia" name="concerns" value="anemia" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Anemia" class="checkbox">Anemia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoproteinmia" name="concerns" value="hypop" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoproteinmia" class="checkbox">Hypoproteinmia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Azotemia" name="concerns" value="azo" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Azotemia" class="checkbox">Azotemia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypovolemia" name="concerns" value="hypov" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypovolemia" class="checkbox">Hypovolemia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoglycemia" name="concerns" value="hypog" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoglycemia" class="checkbox">Hypoglycemia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Arrythmia" name="concerns" value="arry" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Arrythmia" class="checkbox">Arrythmia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypotension" name="concerns" value="hypot" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypotension" class="checkbox">Hypotension</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoxemia" name="concerns" value="hypox" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoxemia" class="checkbox">Hypoxemia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.DifficultIntubation" name="concerns" value="diffIn" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.DifficultIntubation" class="checkbox">Difficult Intubation</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Pain" name="concerns" value="pain" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Pain" class="checkbox">Pain</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoventilation" name="concerns" value="hypoven" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypoventilation" class="checkbox">Hypoventilation</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Hypothermia" name="concerns" value="hypother" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Hypothermia" class="checkbox">Hypothermia</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Bloat" name="concerns" value="bloat" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Bloat" class="checkbox">Bloat</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.Vomiting" name="concerns" value="vomit" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.Vomiting" class="checkbox">Vomiting</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.DrugMetabolism" name="concerns" value="drugMet" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.DrugMetabolism" class="checkbox">Drug Metabolism</label>
                        <input type="checkbox" id="Patient.ClinicalFindings.AnesthesiaConcerns.BloodLoss" name="concerns" value="blood" class="checkbox" section="ClinicalFindings"/>
                        <label for="Patient.ClinicalFindings.AnesthesiaConcerns.BloodLoss" class="checkbox">Blood Loss</label>
                    </div>
                    <div class="input">
			           <label>Current Medications:</label>
                       <input type="text" name="CurrentMedications" class="inline"id="Patient.ClinicalFindings.CurrentMedications" section="ClinicalFindings"/>
                    </div>
                    <div class="input">
			           <label>Other Current Medications:</label>
                       <input type="text" name="OtherCurrentMedications" class="inline"id="Patient.ClinicalFindings.OtherCurrentMedications" section="ClinicalFindings"/>
                    </div>	
                </div>	
				</form>