@{
    ViewBag.Title = "Clinical Findings";
}

 <h2>Clinical Findings</h2>
				<form action="">
                <div class="left half">
                <div class="input">
			       <label>Temperature (Fahrenheit):</label>
                   <input type="text" name="Temp" class="inline"/>
                </div>
                <div class="input">
			       <label>Pulse Rate (bpm):</label>
                   <input type="text" name="Pulse" class="inline"/>
                </div> 
                <div class="input">
                    <label>Cardiac Auscultation: </label>
                    <select name="Cardiac">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Pulse Quality: </label>
                    <select name="PulseQuality">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Capillary Refill Time: </label>
                    <select name="PulseQuality">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Respiratory Auscultation: </label>
                    <select name="Respitory">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Physical Status Classification: </label>
                    <select name="Status">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                    <input type="text" name="Pulse" class="inline" id="Reason"/>
                    <label id="Reason">Reason:</label>
                </div>
                                                                                                                              
                </div>
                <div class="right half">
                 <div class="input">
                    <label>Prior Anesthesia</label>
                    <input type="radio" id="prior1" name="Prior" value="PriorYes" class="radio"/>
                    <label for="prior1" class="radio">Yes</label>
                    <input type="radio" id="prior2" name="Prior" value="PriorNo" class="radio"/>
                    <label for="prior2" class="radio">No</label>
                </div> 
                <div class="input">
			       <label>Date(dd/mm/yyyy):</label>
                   <input type="text" name="Date" class="inline"/>
                </div>
                <div class="input">
			       <label>Problems:</label>
                   <input type="text" name="Problems" class="inline"/>
                </div>
                <div class="input">
                <label>Concerns:</label>
                    <input type="checkbox" id="concerns-1" name="concerns" value="anemia" class="checkbox"/>
                    <label for="concerns-1" class="checkbox">Anemia</label>
                    <input type="checkbox" id="concerns-2" name="concerns" value="hypop" class="checkbox"/>
                    <label for="concerns-2" class="checkbox">Hypoproteinmia</label>
                    <input type="checkbox" id="concerns-3" name="concerns" value="azo" class="checkbox"/>
                    <label for="concerns-3" class="checkbox">Azotemia</label>
                    <input type="checkbox" id="concerns-4" name="concerns" value="hypov" class="checkbox"/>
                    <label for="concerns-4" class="checkbox">Hypovolemia</label>
                    <input type="checkbox" id="concerns-5" name="concerns" value="hypog" class="checkbox"/>
                    <label for="concerns-5" class="checkbox">Hypoglycemia</label>
                    <input type="checkbox" id="concerns-6" name="concerns" value="arry" class="checkbox"/>
                    <label for="concerns-6" class="checkbox">Arrythmia</label>
                    <input type="checkbox" id="concerns-7" name="concerns" value="hypot" class="checkbox"/>
                    <label for="concerns-7" class="checkbox">Hypotension</label>
                    <input type="checkbox" id="concerns-8" name="concerns" value="hypox" class="checkbox"/>
                    <label for="concerns-8" class="checkbox">Hypoxemia</label>
                    <input type="checkbox" id="concerns-9" name="concerns" value="diffIn" class="checkbox"/>
                    <label for="concerns-9" class="checkbox">Difficult Intubation</label>
                    <input type="checkbox" id="concerns-10" name="concerns" value="pain" class="checkbox"/>
                    <label for="concerns-10" class="checkbox">Pain</label>
                    <input type="checkbox" id="concerns-11" name="concerns" value="hypoven" class="checkbox"/>
                    <label for="concerns-11" class="checkbox">Hypoventilation</label>
                    <input type="checkbox" id="concerns-12" name="concerns" value="hypother" class="checkbox"/>
                    <label for="concerns-12" class="checkbox">Hypothermia</label>
                    <input type="checkbox" id="concerns-13" name="concerns" value="bloat" class="checkbox"/>
                    <label for="concerns-13" class="checkbox">Bloat</label>
                    <input type="checkbox" id="concerns-14" name="concerns" value="vomit" class="checkbox"/>
                    <label for="concerns-14" class="checkbox">Vomiting</label>
                    <input type="checkbox" id="concerns-15" name="concerns" value="drugMet" class="checkbox"/>
                    <label for="concerns-15" class="checkbox">Drug Metabolism</label>
                    <input type="checkbox" id="concerns-16" name="concerns" value="blood" class="checkbox"/>
                    <label for="concerns-16" class="checkbox">Blood Loss</label>
                </div>
                <div class="input">
                <h2> </h2>
                <h3> </h3>
                    <label>Current Medications: </label>
                    <select multiple name="CurrentMeds">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                </div>			
				</form>