@{
    ViewBag.Title = "Clinical Findings";
}

 <h2>Clinical Findings</h2>
				<form action="" name="ClinicalFindings">
                <div class="left half">
                <div class="input">
			       <label>Temperature (F):</label>
                   <input type="text" name="Temperature" class="inline" id="Patient.ClinicalFindings.Temperature"/>
                </div>
                <div class="input">
			       <label>Pulse Rate (bpm):</label>
                   <input type="text" name="PulseRate" class="inline" id="Patient.ClinicalFindings.PulseRate"/>
                </div> 
                <div class="input">
			       <label>Respiratory Rate (bpm):</label>
                   <input type="text" name="RespiratoryRate" class="inline" id="Patient.ClinicalFindings.RespiratoryRate"/>
                </div> 
                <div class="input">
                    <label>Cardiac Auscultation: </label>
                    <button type="button" id="ClinicalFindings-CardiacAuscultation" class="toolTipButton" onclick="toolTipGenerate(5, 'Patient.ClinicalFindings.CardiacAuscultation')">?</button>
                    <select name="CardiacAuscultation"  id="Patient.ClinicalFindings.CardiacAuscultation" onchange="dropdownSelected(this)">
					</select>
                </div>
                <div class="input">
                    <label>Pulse Quality: </label>
                    <button type="button" id="ClinicalFindings-PulseQuality" class="toolTipButton" onclick="toolTipGenerate(6, 'Patient.ClinicalFindings.PulseQuality')">?</button>
                    <select name="PulseQuality" id="Patient.ClinicalFindings.PulseQuality" onchange="dropdownSelected(this)">
					</select>
                </div>
                <div class="input">
                    <label>Capillary Refill Time: </label>
                     <button type="button" id="ClinicalFindings-CapillaryRefillTime" class="toolTipButton" onclick="toolTipGenerate(20, 'Patient.ClinicalFindings.CapillaryRefillTime')">?</button>
                    <select name="CapillaryRefillTime" id="Patient.ClinicalFindings.CapillaryRefillTime" onchange="dropdownSelected(this)">
					</select>
                </div>
                <div class="input">
                    <label>Respiratory Auscultation: </label>
                    <button type="button" id="ClinicalFindings-RespiratoryAuscultation" class="toolTipButton" onclick="toolTipGenerate(7, 'Patient.ClinicalFindings.RespiratoryAuscultation')">?</button>
                    <select name="RespiratoryAuscultation" id="Patient.ClinicalFindings.RespiratoryAuscultation" onchange="dropdownSelected(this)">
					</select>
                </div>
                <div class="input">
                    <label>Physical Status Classification: </label>
                    <button type="button" id="ClinicalFindings-PhysicalStatusClassification" class="toolTipButton" onclick="toolTipGenerate(9, 'Patient.ClinicalFindings.PhysicalStatusClassification')">?</button>
                    <select name="PhysicalStatusClassification" id="Patient.ClinicalFindings.PhysicalStatusClassification" onchange="dropdownSelected(this)">
					</select>
                </div>
                <div class="input">
                <label>Classification Reason:</label>
                    <input type="text" name="ReasonForClassification" class="inline" id="Patient.ClinicalFindings.ReasonForClassification"/>
                    
                </div>

                </div>

                                                                                                                         

                <div class="right half">
                <div class="input">
                    <label>Mucous Membrane Color: </label>
                    <button type="button" id="ClinicalFindings-MucousMembraneColor" class="toolTipButton" onclick="toolTipGenerate(25, 'Patient.ClinicalFindings.MucousMembraneColor')">?</button>
                    <select name="MucousMembraneColor" id= "Patient.ClinicalFindings.MucousMembraneColor" onchange="dropdownSelected(this)">
					</select>
                </div>
                     <div class="input">
                        <label>Prior Anesthesia</label>
                        <input type="radio" name="PriorAnesthesia" value="PriorYes" class="radio" id="Patient.ClinicalFindings.PriorAnesthesia.Yes" onclick="showInputs(['Patient-ClinicalFindings-Date-input', 'Patient-ClinicalFindings-Problems-input'])"/>
                        <label for="Patient.ClinicalFindings.PriorAnesthesia.Yes" class="radio">Yes</label>
                        <input type="radio"  name="PriorAnesthesia" value="PriorNo" checked="checked" class="radio" id="Patient.ClinicalFindings.PriorAnesthesia.No" onclick="hideInputs(['Patient-ClinicalFindings-Date-input', 'Patient-ClinicalFindings-Problems-input'])"/>
                        <label for="Patient.ClinicalFindings.PriorAnesthesia.No" class="radio">No</label>
                    </div> 
                    <div class="input" id="Patient-ClinicalFindings-Date-input" style="display:none">
			           <label>Date:</label>
                       <input type="text" name="DateOfProblem" class="inline" id="Patient.ClinicalFindings.Date" subgroup="PriorAnesthesia" onchange="dateSelected(this)"/>
                    </div>
                    <div class="input" id="Patient-ClinicalFindings-Problems-input" style="display:none">
			           <label>Problems:</label>
                       <input type="text" name="Problem" class="inline" subgroup="PriorAnesthesia" id="Patient.ClinicalFindings.Problems"/>
                    </div>
                    <div class="input">
                    <label>Anesthetic Concerns</label>
                        <select id="Patient.ClinicalFindings.AnesthesiaConcerns" name="AnesthesiaConcerns" subgroup="AnesthesiaConcerns" multiple="multiple" style="float: right; width: 400px;">
                        </select>
                    </div>
                    <div class="input">
			           <label>Other Anesthetic Concerns:</label>
                       <input type="text" name="Other Concerns" class="inline"id="Patient.ClinicalFindings.OtherAnestheticConcerns"/>
                    </div>
                    <div class="input">
			           <label>Current Medications:</label>
                       <input type="text" name="CurrentMedications" class="inline"id="Patient.ClinicalFindings.CurrentMedications"/>
                    </div>
                </div>	
				</form>