@{
    ViewBag.Title = "Emergency Dosage";
}
<h2>
    Emergency Dosage</h2>
<div class="input">
    <label>
        <b>Epinephrine: </b>
    </label>
    <label id="Emergency-Epinephrine">
    </label>
</div>
<div class="input">
    <label>
        <b>Atropine: </b>
    </label>
    <label id="Emergency-Atropine">
    </label>
</div>
