@{
    ViewBag.Title = "Anesthesia SOAP";
}
    <script>
        // get handle to the scrollable api
        var api = $("#scroll").data("scrollable");

        // this callback does the special handling of our "intro page"
        api.onStart(function (e, i) {

            // when on the first item: hide the intro
            if (i) {
                $("#intro").fadeOut("slow");

                // otherwise show the intro
            } else {
                $("#intro").fadeIn(1000);
            }

            // toggle activity for the intro thumbnail
            $("#t0").toggleClass("active", i == 0);
        });

        // a dedicated click event for the intro thumbnail
        $("#t0").click(function () {

            // seek to the beginning (the hidden first item)
            $("#scroll").scrollable().begin();

        });
    </script>
    <div id="top">
        <div id="top-wrap">
            <div id="title"><p>Ohio State Anesthesia SOAP Plan</p></div>
            <div id="user-info">
                <div id="user-name">Brutus.1</div>
                <div id="sign-out"><a href="#" >Sign Out</a></div>
            </div>
        </div>
    </div>
<div id="scroll">

		<!-- scrollable items -->
		<div id="scrollable-items">

			<!-- empty item -->
			<div class="item">Welcome to the OSU SOAP Application</div>

			<!-- item #1 -->
			<div class="item">
				<form name="input" method="get" action="">
                    <div class="left half">
                        <div class="input">
					        <label>Anesthetist</label>
                            <input type="text" name="Anesthetist"  placeholder="Mickey">
                        </div>
                        <div class="input">
                            <label>Clinician</label><input type="text" name="Clinician">
                        </div>
                        <div class="input">
                            <label>Ward Number</label><input type="text" name="Ward">
                        </div>
                        <div class="input">
                            <label>Procedure</label><input type="text" name="Procedure">
                        </div>
                        <div class="input">
                            <label>Body Weight</label><input type="text" name="BodyWeight">
                        </div>
                        <div class="input">
                            <label>Age</label><input type="text" name="Age" class="inline">
                        </div>
                        <div class="input">
                            <label>Temperament</label><input type="text" name="Temperament">
                        </div>
                    </div>
                    <div class="right half">
                        <div class="input">
                            <label>Date</label><input type="text" id="datepicker" name="Date">
                        </div>
                    </div>
				</form>
			</div>

			<!-- item #2 -->
			<div class="item">
				<form action="">
					<select name="cars">
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="fiat" selected>Fiat</option>
						<option value="audi">Audi</option>
					</select>
				</form>
			</div>

			<!-- item #3 -->
			<div class="item">
				<form action="">
					<input type="radio" name="sex" value="male">Male<br> <input
						type="radio" name="sex" value="female">Female
				</form>
			</div>

			<!-- item #4 -->
			<div class="item">
				<form action="" method="post"
					enctype="text/plain">
					<label class="inline">Name:</label><input type="text" name="name" placeholder="your name" class="inline"><br />
					<label class="inline">E-mail:</label><input type="text" name="mail" placeholder="your email" class="inline"><br />
					<label class="inline">Comment:</label><input type="text" name="comment" placeholder="your comment" class="inline"><br><br> 
                    <input type="submit" value="Send"> <input type="reset" value="Reset">
				</form>
			</div>

			<!-- the intro "page"  -->
			<div id="intro" class="item">Welcome to the OSU SOAP Application</div>

		</div>

		<!-- thumbnails -->
		<div id="thumbs" class="t">
			<!-- scrollable navigator root element -->
			<div class="navi">
                <!-- intro page navigator button -->
			    <a id="t0" class="active"></a>
				<!-- navigator items for the rest of the scrollable items -->
				<a id="t1"><div>Section 1</div></a>
				<a id="t2"><div>Section 2</div></a>
				<a id="t3"><div>Section 3</div></a>
				<a id="t4"><div>Section 4</div></a>
			</div>

		</div>

	</div>
	<script type="text/javascript">
	    $("#scroll").scrollable({ items: '#scrollable-items' }).navigator();
	</script>