@{
    ViewBag.Title = "Anesthesia SOAP";
}
    <script type="text/javascript">
        // get handle to the scrollable api
        var api = $("#scroll").data("scrollable");

        // this callback does the special handling of our "intro page"
        api.onStart(function (e, i) {

            // when on the first item: hide the intro
            if (i) {
                $("#intro").fadeOut("slow");

                // otherwise show the intro
            } else {
                $("#intro").fadeIn(1000);
            }

            // toggle activity for the intro thumbnail
            $("#t0").toggleClass("active", i == 0);
        });

        // a dedicated click event for the intro thumbnail
        $("#t0").click(function () {

            // seek to the beginning (the hidden first item)
            $("#scroll").scrollable().begin();

        });
    </script>
    <div id="top">
        <div id="top-wrap">
            <div id="title"><p>Ohio State Anesthesia SOAP Plan</p></div>
            <div id="user-info">
                <div id="user-name">Brutus.1</div>
                <div id="sign-out"><a href="#" >Sign Out</a></div>
            </div>
        </div>
    </div>
<div id="scroll">

		<!-- scrollable items -->
		<div id="scrollable-items">

			<!-- Page 0: welcome and emergency dosages -->
			<div class="item">
            <h2>Welcome to the OSU SOAP Application</h2>
            <p>Emergency dosages:</p>
            </div>

			<!-- Page 1, Profile -->
			<div class="item">
            <h2>Profile</h2>
				<form name="input" method="get" action="">
                    <div class="left half">
                        <div class="input">
					        <label>First Name:</label>
                            <input type="text" name="FName"  placeholder="Nick">
                        </div>
                        <div class="input">
                            <label>Last Name: </label><input type="text" name="LName" class="inline">
                        </div>
                        <div class="input">
                            <label>Email: </label><input type="text" name="email" class="inline">
                        </div>
                                                <div class="input">
                            <label>Date</label><input type="text" id="datepicker" name="Date" class="inline">
                        </div>
                    </div>

				</form>
			</div>

			<!-- Page 2, Patient Information -->
			<div class="item">
            <h2>Patient Information</h2>
				<form action="">
                <div class="left half">
                <div class="input">
                    <label>Procedure: </label>
                    <select name="Procedure">
						<option value="None" selected>None</option>
						<option value="volvo">Volvo</option>
						<option value="saab">Saab</option>
						<option value="audi">Audi</option>
					</select>
                </div>
                <div class="input">
			       <label>Body Weight (kg):</label>
                   <input type="text" name="weight" class="inline">kg
                </div>
                <div class="input">
			       <label>Age:</label>
                   <input type="text" name="Years" placeholder="Years" class="inline">
                   <input type="text" name="months"placeholder="Months" class="inline"/>
                </div>
                <div class="input">
                    <label>Temperament: </label>
                    <select name="Temperament">
						<option value="None" selected>N/A</option>
						<option value="Option1">Nice</option>
						<option value="Option2">Ok</option>
						<option value="Option3">Mean</option>
					</select>
                </div>
                <h2>Pain Assesment</h2>
                <div class="input">
                    <label>Preoperative: </label>
                    <select name="PreOp">
						<option value="None" selected>None</option>
						<option value="Option1">Mild</option>
						<option value="Option2">Moderate</option>
						<option value="Option3">Severe</option>
					</select>
                </div>
                <div class="input">
                    <label>Anticipated Postoperative: </label>
                    <select name="PostOp">
						<option value="None" selected>None</option>
						<option value="Option1">Mild</option>
						<option value="Option2">Moderate</option>
						<option value="Option3">Severe</option>
					</select>
                </div>
                </div>
				</form>
			</div>

			<!-- Page 3, Clinical findings -->
			<div class="item">
            <h2>Clinical Findings</h2>
				<form action="">
                <div class="left half">
                <div class="input">
			       <label>Temperature (Fahrenheit):</label>
                   <input type="text" name="Temp" class="inline"/>
                </div>
                <div class="input">
			       <label>Pulse Rate (bpm):</label>
                   <input type="text" name="Pulse" class="inline"/>
                </div> 
                <div class="input">
                    <label>Cardiac Auscultation: </label>
                    <select name="Cardiac">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Pulse Quality: </label>
                    <select name="PulseQuality">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Capillary Refill Time: </label>
                    <select name="PulseQuality">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Respiratory Auscultation: </label>
                    <select name="Respitory">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Physical Status Classification: </label>
                    <select name="Status">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                    <input type="text" name="Pulse" class="inline" id="Reason"/>
                    <label id="Reason">Reason:</label>
                </div>
                                                                                                                              
                </div>
                <div class="right half">
                 <div class="input">
                    <label>Prior Anesthesia</label>
                    <input type="radio" name="Prior" value="PriorYes" />Yes<br />
                    <input type="radio" name="Prior" value="PriorNo" />No<br />
                </div> 
                <div class="input">
			       <label>Date(dd/mm/yyyy):</label>
                   <input type="text" name="Date" class="inline"/>
                </div>
                <div class="input">
			       <label>Problems:</label>
                   <input type="text" name="Problems" class="inline"/>
                </div>
                <div class="input">
                <label>Concerns:</label>
                    <input type="checkbox" name="concerns" value="anemia"/>Anemia
                    <input type="checkbox" name="concerns" value="hypop"/>Hypoproteinmia
                    <input type="checkbox" name="concerns" value="azo"/>Azotemia
                    <input type="checkbox" name="concerns" value="hypov"/>Hypovolemia<br />
                    <input type="checkbox" name="concerns" value="hypog"/>Hypoglycemia
                    <input type="checkbox" name="concerns" value="arry"/>Arrythmia
                    <input type="checkbox" name="concerns" value="hypot"/>Hypotension<br />
                    <input type="checkbox" name="concerns" value="hypox"/>Hypoxemia
                    <input type="checkbox" name="concerns" value="diffIn"/>Difficult Intubation
                    <input type="checkbox" name="concerns" value="pain"/>Pain
                    <input type="checkbox" name="concerns" value="hypoven"/>Hypoventilation<br />
                    <input type="checkbox" name="concerns" value="hypother"/>Hypothermia
                    <input type="checkbox" name="concerns" value="bloat"/>Bloat
                    <input type="checkbox" name="concerns" value="vomit"/>Vomiting
                    <input type="checkbox" name="concerns" value="drugMet"/>Drug Metabolism
                    <input type="checkbox" name="concerns" value="blood"/>Blood Loss<br />
                </div>
                <div class="input">
                <h2> </h2>
                <h3> </h3>
                    <label>Current Medications: </label>
                    <select multiple name="CurrentMeds">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                </div>			
				</form>
			</div>

			<!-- Page 4, bloodwork -->
			<div class="item">
            <h2>BloodWork</h2>
				<form action="">
                <div class="left half">
                <div class="input">
			       <label>PCV (%):</label>
                   <input type="text" name="PCV" class="inline"/>
                </div>
                <div class="input">
			       <label>TP (g/dL):</label>
                   <input type="text" name="TP" class="inline"/>
                </div>
                <div class="input">
			       <label>Albumin (g/dL):</label>
                   <input type="text" name="Albumin" class="inline"/>
                </div>
                <div class="input">
			       <label>Globulin (g/dL):</label>
                   <input type="text" name="Globulin" class="inline"/>
                </div>
                <div class="input">
			       <label>WBC (TBD):</label>
                   <input type="text" name="WBC" class="inline"/>
                </div>
                <div class="input">
			       <label>Na+ (TBD):</label>
                   <input type="text" name="Na" class="inline"/>
                </div>
                <div class="input">
			       <label>K+ (TBD):</label>
                   <input type="text" name="K" class="inline"/>
                </div>
                <div class="input">
			       <label>Cl- (TBD):</label>
                   <input type="text" name="Cl" class="inline"/>
                </div>
                <div class="input">
			       <label>Ca++ (TBD):</label>
                   <input type="text" name="Ca" class="inline"/>
                </div>
                </div>
                <div class="right half">
                <div class="input">
			       <label>iCa (TBD):</label>
                   <input type="text" name="iCa" class="inline"/>
                </div>
                <div class="input">
			       <label>Glucose (TBD):</label>
                   <input type="text" name="Glucose" class="inline"/>
                </div>
                <div class="input">
			       <label>ALT (TBD):</label>
                   <input type="text" name="ALT" class="inline"/>
                </div>
                <div class="input">
			       <label>ALP (TBD):</label>
                   <input type="text" name="ALP" class="inline"/>
                </div>
                <div class="input">
			       <label>BUN (TBD):</label>
                   <input type="text" name="BUN" class="inline"/>
                </div>
                <div class="input">
			       <label>CREAT (TBD):</label>
                   <input type="text" name="CREAT" class="inline"/>
                </div>
                <div class="input">
			       <label>USG (TBD):</label>
                   <input type="text" name="USG" class="inline"/>
                </div>
                </div>
				</form>
			</div>
            <!------Page 5, Anesthetic PLan---->
           <div class="item">
            <form action="">
            <div class="left half">
            <h2>Anesthetic Plan</h2>
            <h4>Premedication</h4>
                <div class="input">
                    <label>Select Drugs: </label>
                    <select name="PreMedDrugs">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Route of Administration: </label>
                    <select name="PreMedRoute">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="PreMedDosage" class="inline" />
                </div>
               <div class="input">
                   <input type="submit" value="Submit" />
                </div> '
            </div>
                  <!----need output here--->      

            
            <div class="right half">
            <h4>Induction</h4>
                <div class="input">
                    <label>Select Injectable Drugs: </label>
                    <select name="InductionDrugs">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <select name="InductionRoute">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="InductionDosage" class="inline" />
                </div>
                <div class="input">
                    <label>Select Inhalant Drugs: </label>
                    <select name="InhalantDrugs">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="InhalantDosage" class="inline" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="InhalantOxygen" class="inline" />
                </div>
               <div class="input">
                   <input type="submit" value="Submit" />
                </div> 
            </div>
             </form>
            </div>

            <div class="item">
            <form action="">
            <div class="left half">
            <h2>Maintenance</h2>
                <div class ="input">
                    <label>Select Injectable Drugs: </label>
                    <select name="MaintenDrugs">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <select name="MainenRoute">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="MaintenDosage" class="inline" />
                </div>

                <div class="input">
                    <label>Select Inhalant Drugs: </label>
                    <select name="MaintenInhalantDrugs">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <h4>Induction Required: </h4>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="MaintenInducDosage" class="inline" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="MaintenInducOxygen" class="inline" />
                </div>
            </div>

            <div class="right half">
            <h4>Maintenenance Required:</h4>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="MaintenMaintenDosage" class="inline" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="MaintenMaintenOxygen" class="inline" />
                </div>
            <h4>Equiptment required: </h4>
                <div class="input">
                    <label>Breathing System: </label>
                    <select name="BreathingSystem">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                <div class="input">
                    <label>Breathing Bag Size: </label>
                    <select name="BagSize">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
            <h4>Other</h4>
                <div class="input">
                    <label>Intraoperative Analgesia: </label>
                    <select name="IntraAnalgesia">
						<option value="None" selected>None</option>
						<option value="Option1">1</option>
						<option value="Option2">2</option>
						<option value="Option3">3</option>
					</select>
                </div>
                 <div class="input">
                    <label>Other Anesthetic Drugs (Will you need to paralyze?)</label>
                    <input type="radio" name="Paralyze" value="ParalyzeYes" />Yes<br />
                    <input type="radio" name="Paralyze" value="ParalyzeNo" />No<br />
                </div> 
            </div>
            </form>
            </div>
            <div class="item"><h2>Monitoring</h2></div>


         </div>
		</div>

		<!-- thumbnails -->
		<div id="thumbs" class="t">
			<!-- scrollable navigator root element -->
			<div class="navi">
                <!-- intro page navigator button -->
			    <a id="t0" class="active"></a>
				<!-- navigator items for the rest of the scrollable items -->
				<a id="t1"><div>Anesthetist Profile</div></a>
				<a id="t2"><div>Patient Information</div></a>
				<a id="t3"><div>Clinical Findings</div></a>
				<a id="t4"><div>Blood Work</div></a>
                <a id="t5"><div>Anesthesia Plan</div></a>
                <a id="t6"><div>Maintenance</div></a>
                <a id="t7"><div>Monitoring</div></a>
			</div>

		</div>

	<!---</div>--->
	<script type="text/javascript">
	    $("#scroll").scrollable({ items: '#scrollable-items' }).navigator();
	</script>