@{
    ViewBag.Title = "Induction";
}

<h2>Induction</h2>
<form action="">
    <div class="left half">
        <div class="input">
            <label>Drug Type</label>
            <input type="radio" name="DrugType" id="Injectable" class="radio" onclick="showInputs(['Inhalant-input', 'Injectable-input'])" checked="checked"/>
            <label for="Injectable" class="radio">Injectable</label>
            <input type="radio" name="DrugType" id="Inhalant" class="radio" onclick="showInputs(['Inhalant-input', 'Injectable-input'])"/>
            <label for="Inhalant" class="radio">Inhalant</label>
        </div>
        <div id="Injectable-input">
                <h4>Injectable</h4>
                <div class="input">
                    <label>Select Injectable Drugs: </label>
                    <select name="InductionDrugs" id="Patient.AnestheticPlanInjection.Drug">
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <select name="InductionRoute" id="Patient.AnestheticPlanInjection.Route">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="InductionDosage" class="inline" id="Patient.AnestheticPlanInjection.Dosage" />
                </div>
                <div class="input">
                    <label>IV Fluid Types: </label>
                    <select name="InductionRoute" id="Patient.AnestheticPlanInjection.IVFluidTypes">
					</select>
                </div>
        </div>
        <div style="display:none" id="Inhalant-input">
            <h4>Inhalants</h4>
            <div class="input">
                <label>Inhalant Drugs</label>
                <select name="InductionRoute" id="Patient.AnestheticPlanInhalant.Drug.Route">
			    </select>
             </div>
               <div class="input">
			       <label>Starting Percentage</label>
                   <input type="text" name="InhalantDosage" class="inline" id="Patient.AnestheticPlanInhalant.DosageStarting" />
                </div>
                 <div class="input">
			       <label>Starting Oxygen Flow Rate</label>
                   <input type="text" name="InhalantOxygen" class="inline" id="Patient.AnestheticPlanInhalant.FlowRateStarting" />
                </div>
               <div class="input">
			       <label>Secondary Percentage</label>
                   <input type="text" name="InhalantDosage" class="inline" id="Patient.AnestheticPlanInhalant.DosageSecondary" />
                </div>
                 <div class="input">
			       <label>Secondary Oxygen Flow Rate</label>
                   <input type="text" name="InhalantOxygen" class="inline" id="Patient.AnestheticPlanInhalant.FlowRateSecondary" />
                </div>       
        </div>
    </div>
</form>
