@{
    ViewBag.Title = "Induction";
}

<h2>Induction</h2>
<form action="" name="AnestheticPlan">
    <div class="left half">
        <div class="input">
            <label>Drug Type</label>
            <input type="radio" name="DrugType" id="Injectable" class="radio" onclick="showInputs(['Injectable-input']); hideInputs(['Inhalant-input'])" checked="checked"/>
            <label for="Injectable" class="radio">Injectable</label>
            <input type="radio" name="DrugType" id="Inhalant" class="radio" onclick="showInputs(['Inhalant-input']); hideInputs(['Injectable-input'])"/>
            <label for="Inhalant" class="radio">Inhalant</label>
        </div>
        <div id="Injectable-input">
                <h4>Injectable</h4>
                <div class="input">
                    <label>Select Injectable Drugs: </label>
                    <button type="button" id="Induction-Injectable-Drugs" class="toolTipButton" onclick="toolTipGenerate(14, 'Patient.AnestheticPlan.InjectionPlan.Drug')">?</button>
                    <label id="Induction-Injectable-Dosage"></label>
                    <select name="InductionDrugs" id="Patient.AnestheticPlan.InjectionPlan.Drug">
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <button type="button" id="Induction-Injectable-Route" class="toolTipButton" onclick="toolTipGenerate(13, 'Patient.AnestheticPlan.InjectionPlan.Route')">?</button>
                    <select name="InductionRoute" id="Patient.AnestheticPlan.InjectionPlan.Route">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="InductionDosage" class="inline" id="Patient.AnestheticPlan.InjectionPlan.Dosage" subgroup="InjectionPlan"/>
                </div>
        </div>
        <div style="display:none" id="Inhalant-input">
            <h4>Inhalants</h4>
            <div class="input">
                <label>Inhalant Drugs</label>
                <button type="button" id="Induction-Inhalent-Drug" class="toolTipButton" onclick="toolTipGenerate(24, 'Patient.AnestheticPlan.InhalantPlan.Drug')">?</button>
                <select name="InductionRoute" id="Patient.AnestheticPlan.InhalantPlan.Drug">
			    </select>
             </div>
               <div class="input">
			       <label>Starting Percentage</label>
                   <input type="text" name="InhalantDosage" class="inline" id="Patient.AnestheticPlan.InhalantPlan.Percentage" subgroup="InjectionPlan"/>
                </div>
                 <div class="input">
			       <label>Starting Oxygen Flow Rate</label>
                   <input type="text" name="InhalantOxygen" class="inline" id="Patient.AnestheticPlan.InhalantPlan.FlowRate" subgroup="InjectionPlan"/>
                </div>     
        </div>
    </div>
</form>
