@{
    ViewBag.Title = "Induction";
}

<h2>Induction</h2>
<form action="" name="AnestheticPlan">
    <div class="left half">
        <div class="input">
            <label>Drug Type</label>
            <input type="radio" name="DrugType" id="Patient.AnestheticPlan.InjectionPlan.Checked" class="radio" show="Injectable-input" hide="Inhalant-input" checked="checked"/>
            <label for="Patient.AnestheticPlan.InjectionPlan.Checked" class="radio">Injectable</label>
            <input type="radio" name="DrugType" id="Patient.AnestheticPlan.InhalantPlan.Checked" class="radio" show="Inhalant-input" hide="Injectable-input"/>
            <label for="Patient.AnestheticPlan.InhalantPlan.Checked" class="radio">Inhalant</label>
        </div>
        <div id="Injectable-input">
                <h4>Injectable</h4>
                <div class="input">
                    <label>Select Injectable Drugs: </label>
                    <button type="button" id="Induction-Injectable-Drugs" class="toolTipButton" onclick="toolTipGenerate(14, 'Patient.AnestheticPlan.InjectionPlan.Drug')">?</button>
                    <label id="Induction-Injectable-Dosage"></label>
                    <select name="InductionDrugs" id="Patient.AnestheticPlan.InjectionPlan.Drug">
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <button type="button" id="Induction-Injectable-Route" class="toolTipButton" onclick="toolTipGenerate(13, 'Patient.AnestheticPlan.InjectionPlan.Route')">?</button>
                    <select name="InductionRoute" id="Patient.AnestheticPlan.InjectionPlan.Route">
					</select>
                </div>
               <div class="input">
			       <label>Dose (mg/kg): </label>
                   <input type="text" name="InductionDosage" class="inline" id="Patient.AnestheticPlan.InjectionPlan.Dosage" subgroup="InjectionPlan"/>
                </div>
        </div>
        <div style="display:none" id="Inhalant-input">
            <h4>Inhalants</h4>
            <div class="input">
                <label>Inhalant Drugs</label>
                <button type="button" id="Induction-Inhalent-Drug" class="toolTipButton" onclick="toolTipGenerate(24, 'Patient.AnestheticPlan.InhalantPlan.Drug')">?</button>
                <select name="InductionRoute" id="Patient.AnestheticPlan.InhalantPlan.Drug">
			    </select>
             </div>
               <div class="input">
			       <label>Percentage</label>
                   <input type="text" name="InhalantDosage" class="inline" id="Patient.AnestheticPlan.InhalantPlan.Percentage" subgroup="InjectionPlan"/>
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate (L/min)</label>
                   <input type="text" name="InhalantOxygen" class="inline" id="Patient.AnestheticPlan.InhalantPlan.FlowRate" subgroup="InjectionPlan"/>
                </div>     
        </div>
    </div>
</form>
