@{
    ViewBag.Title = "Induction";
}

<h2>Induction</h2>
<form action="">
    <div class="left half">
                <h4>Injectable</h4>
                <div class="input">
                    <label>Select Injectable Drugs: </label>
                    <select name="InductionDrugs" id="Patient.AnestheticPlanInjection.Drug">
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <select name="InductionRoute" id="Patient.AnestheticPlanInjection.Route">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="InductionDosage" class="inline" id="Patient.AnestheticPlanInjection.Dosage" />
                </div>
                <div class="input">
                    <label>IV Fluid Types: </label>
                    <select name="InductionRoute" id="Patient.AnestheticPlanInjection.IVFluidTypes">
					</select>
                </div>
    </div>
    <div class = "right half">
    <h4>Inhalants</h4>
                    <div class="input">
                    <label>Select Inhalant Drugs: </label>
                    <select name="InhalantDrugs" id="Patient.AnestheticPlanInhalant.Drug">
					</select>
                </div>
               <div class="input">
			       <label>Percentage: </label>
                   <input type="text" name="InhalantDosage" class="inline" id="Patient.AnestheticPlanInhalant.DosageStarting" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="InhalantOxygen" class="inline" id="Patient.AnestheticPlanInhalant.FlowRateStarting" />
                </div>       
    </div>
</form>
