@{
    ViewBag.Title = "Login";
}
<div class="center" style="width:50%">
    <div id="login-div">
        <form action="">
            <div class="input">
                <label>Username:</label>
                <input type="text" id="username" />
            </div>
            <div class="input">
                <label>Password:</label>
                <input type="password" id="password" />
            </div>
            
            <!-- inputs for registration. Hidden until user clicks on register button -->
            <div id="register-div" class="hide">
                <div class="input">
                    <label>Repeat Password:</label>
                    <input type="password" id="password-repeat" />
                </div>
                <div class="input">
                    <label>Full Name:</label>
                    <input type="text" id="full-name" />
                </div>
                <div class="input">
                    <label>Email:</label>
                    <input type="text" id="email" />
                </div>
                <div class="input">
                    <label>Enter Security Question:</label>
                    <input type="text" id="securityQuestion" />
                </div>
                <div class="input">
                    <label>Answer:</label>
                    <input type="text" id="securityAnswer" />
                </div>
            </div>
            <div class="input">
                <input type="button" id="login" value="Login" class="submit left"/>
                <input type="button" id="forgotPassword" value="Forgot Password" class = "forgot-password" onclick="forgotPass()"/>
                <input type="button" id="cancelRegister" value="Cancel" class="submit" style="margin-left:18%; visibility:hidden" />
                <input type="button" id="register" value="Register" class="submit right"/>

            </div>
            <div id="forgot-password" title="Forgot Password" style="display: none;">
                    <label>Username:</label>
                    <input type="text" id="usernameForgot" />
                    <p></p>  
                    <!----<label>Email:</label>
                    <input type="text" id="emailForgot" />--->
            </div>
            <div id ="security-Check" title="Security Question Check" style="display:none;">
                <label>Security Question</label>
                <input type="text" id ="securityQuestionCheck" readonly/>
                <p></p>
                <label>Answer</label>
                <input type="text" id ="securityAnswerCheck" />
            </div>
            <div id="change-password" title="New Password" style="display:none;" >
                    <label>Enter new Password:</label>
                    <input type="password" id="newPassword" />
                    <p></p>  
                    <label>Re-enter:</label>
                    <input type="password" id="newPasswordAgain" />                
            </div>
        </form>
    </div>
    <!-- List of saved forms. Hidden until user logs in -->
    <div class="hide" id="saved-forms-div">
        <form action="">
            <div class="input">
                <label>Saved Forms:</label>
                <select id="saved-forms">
                    <option>Forms loading</option>
                </select>
            </div>
            <div class="input">
                <input type="button" class="submit" value="Open Form" onclick="OpenForm($('#saved-forms').val())" />
                <input type="button" class="submit" value="New Form" onclick="NewForm()" id="newFormButton"/>
                <input type="button" class="submit right" value="Save Form" onclick="SaveForm()" />
            </div>
        </form>
    </div>
</div>