@{
    ViewBag.Title = "Login";
}
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
</head>
<div class="center" style="width:50%">
    <div id="login-div">
        <form action="">
            <div class="input">
                <label>Username:</label>
                <input type="text" id="username" />
            </div>
            <div class="input">
                <label>Password:</label>
                <input type="password" id="password" />
            </div>
            
            <!-- inputs for registration. Hidden until user clicks on register button -->
            <div id="register-div" class="hide">
                <div class="input">
                    <label>Repeat Password:</label>
                    <input type="password" id="password-repeat" />
                </div>
                <div class="input">
                    <label>Full Name:</label>
                    <input type="text" id="full-name" />
                </div>
                <div class="input">
                    <label>Email:</label>
                    <input type="text" id="email" />
                </div>
            </div>
            <div class="input">
                <input type="button" id="login" value="Login" class="submit left"/><!--
-->             <input type="button" id="forgotPassword" value="Forgot Password" class = "submit" onclick="forgotPass()" style="margin-left:30px"/>
                <input type="button" id="register" value="Register" class="submit right"/>

            </div>
            <div id="forgotPass" title="Forgot Password" style="display: none;">
                    <label>UserName:</label>
                    <input type="text" id="usernameForgot" />
                    <p></p>  
                    <label>Email:</label>
                    <input type="text" id="emailForgot" />                                
            </div>
        </form>
    </div>
    <!-- List of saved forms. Hidden until user logs in -->
    <div class="hide" id="saved-forms-div">
        <form action="">
            <div class="input">
                <label>Saved Forms:</label>
                <select id="saved-forms">
                </select>
            </div>
            <div class="input">
                <input type="button" class="submit" value="Open Form" />
            </div>
        </form>
    </div>
</div>