@{
    ViewBag.Title = "Maintenance";
}

           <form action="" name="Maintenance">
            <div class="left half">
            <h2>Maintenance</h2>
            <div class="input">
                <label>Drug Type</label>
                <input type="radio" name="MaintenanceDrugType" id="Patient.Maintenance.MaintenanceInjectionDrug.Checked" class="radio" show="Injectable-Maintenance-input" hide="Inhalant-Maintenance-input" checked="checked"/>
                <label for="Patient.Maintenance.MaintenanceInjectionDrug.Checked" class="radio">Injectable</label>
                <input type="radio" name="MaintenanceDrugType" id="Patient.Maintenance.MaintenanceInhalantDrug.Checked" class="radio" show="Inhalant-Maintenance-input" hide="Injectable-Maintenance-input"/>
                <label for="Patient.Maintenance.MaintenanceInhalantDrug.Checked" class="radio">Inhalant</label>
                </div>
                <div id="Injectable-Maintenance-input">
                    <h4>Injectable</h4>
                    <div class ="input">
                        <label>Select Injectable Drugs: </label>
                         <button type="button" id="Maintenance-Injectable-Drugs" class="toolTipButton" onclick="toolTipGenerate(14, 'Patient.Maintenance.MaintenanceInjectionDrug.Drug')">?</button>
                         <label id="Maintenance-Injectable-Dosage"></label>
                        <select name="MaintenDrugs" id="Patient.Maintenance.MaintenanceInjectionDrug.Drug">
            		    </select>
                    </div>
                    <div class="input">
                        <label>Select Route of Administration: </label>
                         <button type="button" id="Maintenance-Injectable-Route" class="toolTipButton" onclick="toolTipGenerate(13, 'Patient.Maintenance.MaintenanceInjectionDrug.RouteOfAdministration')">?</button>
                        <select name="MainenRoute" id="Patient.Maintenance.MaintenanceInjectionDrug.RouteOfAdministration">
					    </select>
                    </div>
                   <div class="input">
			           <label>Dose (mg/kg): </label>
                       <input type="text" name="MaintenDosage" class="inline"  id="Patient.Maintenance.MaintenanceInjectionDrug.Dosage" />
                    </div>
                </div>
                <div style="display:none" id="Inhalant-Maintenance-input">
                    <h4>Inhalant</h4>
                    <div class="input">
                        <label>Select Inhalant Drugs: </label>
                         <button type="button" id="Maintenance-Inhalant-Drug" class="toolTipButton" onclick="toolTipGenerate(15, 'Patient.Maintenance.MaintenanceInhalantDrug.Drug')">?</button>
                        <select name="MaintenInhalantDrugs" id="Patient.Maintenance.MaintenanceInhalantDrug.Drug">
					    </select>
                    </div>
                <!--<h4>Maintenenance Required:</h4>-->
                   <div class="input">
			           <label>Starting Percentage: </label>
                       <input type="text" name="MaintenMaintenDosage" class="inline" id="Patient.Maintenance.MaintenanceInhalantDrug.InductionPercentage" />
                    </div>
                     <div class="input">
			           <label>Starting Oxygen Flow Rate (L/min): </label>
                       <input type="text" name="MaintenMaintenOxygen" class="inline" id="Patient.Maintenance.MaintenanceInhalantDrug.InductionOxygenFlowRate" />
                    </div>
                   <div class="input">
			           <label>Maintenance Percentage: </label>
                       <input type="text" name="InhalantDosage" class="inline" id="Patient.Maintenance.MaintenanceInhalantDrug.MaintenancePercentage" />
                    </div>
                     <div class="input">
			           <label>Maintenance Oxygen Flow Rate (L/min): </label>
                       <input type="text" name="InhalantOxygen" class="inline" id="Patient.Maintenance.MaintenanceInhalantDrug.MaintenanceOxygenFlowRate" />
                    </div>
                    <h4>Equipment required: </h4>
                <div class="input">
                    <label>Breathing System: </label>
                    <button type="button" id="Maintenance-Inhalant-BreathingSystem" class="toolTipButton" onclick="toolTipGenerate(16, 'Patient.Maintenance.MaintenanceInhalantDrug.BreathingSystem')">?</button>
                    <select name="BreathingSystem"  id="Patient.Maintenance.MaintenanceInhalantDrug.BreathingSystem">
					</select>
                </div>
                <div class="input">
                    <label>Breathing Bag Size: </label>
                    <button type="button" id="Maintenance-Inhalant-BagSize" class="toolTipButton" onclick="toolTipGenerate(17, 'Patient.Maintenance.MaintenanceInhalantDrug.BreathingBagSize')">?</button>
                    <select name="BagSize" id="Patient.Maintenance.MaintenanceInhalantDrug.BreathingBagSize">
					</select>
                </div>
                </div>
            </div>

            <div class="right half">

            
            <h4>Other</h4>
                <div class="input">
                    <label>Intraoperative Analgesia: </label>
                    <button type="button" id="Maintenance-OtherAnestheticDrug-IntraOperativeAnalgesia" class="toolTipButton" onclick="toolTipGenerate(18, 'Patient.Maintenance.MaintenanceOther.IntraoperativeAnalgesia')">?</button>
                    <select name="IntraAnalgesia" id="Patient.Maintenance.MaintenanceOther.IntraoperativeAnalgesia">
					</select>
                </div>
                 <div class="input">
                    <label>Other Anesthetic Drugs</label>
                    <input type="text" name ="OtherAnestheticDrugs" id="Patient.Maintenance.MaintenanceOther.OtherAnestheticDrug" />
                </div>
                <div class="input">
                    <label>IV Fluid Types: </label>
                    <button type="button" id="Induction-Injectable-IVFluidTypes" class="toolTipButton" onclick="toolTipGenerate(24, 'Patient.Maintenance.MaintenanceOther.IVFluidType')">?</button>
                    <select name="InductionRoute" id="Patient.Maintenance.MaintenanceOther.IVFluidType">
					</select>
                </div>
                <div class="input">
                    <input type="button" class="submit" value="Calculated Required Medicine" onclick="calculateDosages()" />
               </div>
                
            </div>
            </form>
