@{
    ViewBag.Title = "Maintenance";
}

           <form action="">
            <div class="left half">
            <h2>Maintenance</h2>
                <div class ="input">
                    <label>Select Injectable Drugs: </label>
                    <select name="MaintenDrugs" id="Patient.MaintenanceInjectionDrug.Drug">
					</select>
                </div>
                <div class="input">
                    <label>Select Route of Administration: </label>
                    <select name="MainenRoute" id="Patient.MaintenanceInjectionDrug.RouteOfAdministration">
					</select>
                </div>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="MaintenDosage" class="inline"  id="Patient.MaintenanceInjectionDrug.Dosage" />
                </div>

                <div class="input">
                    <label>Select Inhalant Drugs: </label>
                    <select name="MaintenInhalantDrugs" id="Patient.MaintenanceInhalentDrug.Drug">
					</select>
                </div>
            <!--<h4>Maintenenance Required:</h4>-->
               <div class="input">
			       <label>Percentage: </label>
                   <input type="text" name="MaintenMaintenDosage" class="inline" id="Patient.MaintenanceInhalentDrug.MaintenanceDose" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="MaintenMaintenOxygen" class="inline" id="Patient.MaintenanceInhalentDrug.MaintenanceOxygenFlowRate" />
                </div>
                <!--
                <h4>Induction Required: </h4>
               <div class="input">
			       <label>Dosage: </label>
                   <input type="text" name="MaintenInducDosage" class="inline" id="Patient.MaintenanceInhalentDrug.InductionDose" />
                </div>
                 <div class="input">
			       <label>Oxygen Flow Rate: </label>
                   <input type="text" name="MaintenInducOxygen" class="inline" id="Patient.MaintenanceInhalentDrug.InductionOxygenFlowRate" />
                </div>'
                <!--------->
            </div>

            <div class="right half">

            <h4>Equipment required: </h4>
                <div class="input">
                    <label>Breathing System: </label>
                    <select name="BreathingSystem"  id="Patient.MaintenanceInhalentDrug.BreathingSystem">
					</select>
                </div>
                <div class="input">
                    <label>Breathing Bag Size: </label>
                    <select name="BagSize" id="Patient.MaintenanceInhalentDrug.BreathingBagSize">
					</select>
                </div>
            <h4>Other</h4>
                <div class="input">
                    <label>Intraoperative Analgesia: </label>
                    <select name="IntraAnalgesia" id="Patient.OtherAnestheticDrug.IntraoperativeAnalgesia">
					</select>
                </div>
                 <div class="input">
                    <label>Other Anesthetic Drugs</label>
                    <input type="radio" id="Patient.OtherAnestheticDrug.Paralyze.Yes" name="Paralyze" class="radio" value="ParalyzeYes"/>
                    <label for="Patient.OtherAnestheticDrug.Paralyze.Yes" class="radio">Yes</label>
                    <input type="radio" id="Patient.OtherAnestheticDrug.Paralyze.No" name="Paralyze" class="radio" value="ParalyzeNo"/>
                    <label for="Patient.OtherAnestheticDrug.Paralyze.No" class="radio">No</label>
                </div>
                
            </div>
            </form>
