@{
    ViewBag.Title = "Monitoring";
}

<h2>Monitoring</h2>
<form action = "">
    <div class = "left half">
                <div class="input">
                <label>Monitoring:</label>
                    <input type="checkbox" id="Patient.Monitoring.EsophagealStethoscope" name="Monitoring" value="EsophagealStethoscope" class="checkbox"/>
                    <label for="Patient.Monitoring.EsophagealStethoscope" class="checkbox">Esophageal Stethoscope</label>
                    <input type="checkbox" id="Patient.Monitoring.Doppler" name="Monitoring" value="doppler" class="checkbox"/>
                    <label for="Patient.Monitoring.Doppler" class="checkbox">Doppler</label>
                    <input type="checkbox" id="Patient.Monitoring.ECG" name="Monitoring" value="ECG" class="checkbox"/>
                    <label for="Patient.Monitoring.ECG" class="checkbox">ECG</label>
                    <input type="checkbox" id="Patient.Monitoring.TemperatureProbe" name="Monitoring" value="Tempurature Probe" class="checkbox"/>
                    <label for="Patient.Monitoring.TemperatureProbe" class="checkbox">Temperature Probe</label>
                    <input type="checkbox" id="Patient.Monitoring.BloodGas" name="Monitoring" value="BloodGas" class="checkbox"/>
                    <label for="Patient.Monitoring.BloodGas" class="checkbox">Blood Gas</label>
                    <input type="checkbox" id="Patient.Monitoring.ArterialLine" name="Monitoring" value="ArterialLine" class="checkbox"/>
                    <label for="Patient.Monitoring.ArterialLine" class="checkbox">Arterial Line</label>
                    <input type="checkbox" id="Patient.Monitoring.NoninvasiveBP" name="Monitoring" value="NoninvasiveBP" class="checkbox"/>
                    <label for="Patient.Monitoring.NoninvasiveBP" class="checkbox">Noninvasive BP</label>
                    <input type="checkbox" id="Patient.Monitoring.EtCO" name="Monitoring" value="EtCO" class="checkbox"/>
                    <label for="Patient.Monitoring.EtCO" class="checkbox">EtCO2</label>
                    <input type="checkbox" id="Patient.Monitoring.SPO" name="Monitoring" value="SPO" class="checkbox"/>
                    <label for="Patient.Monitoring.SPO" class="checkbox">SPO2</label>
                    <input type="checkbox" id="Patient.Monitoring.Glucose" name="Monitoring" value="Glucose" class="checkbox"/>
                    <label for="Patient.Monitoring.Glucose" class="checkbox">Glucose</label>
                </div>

               <div class="input">
			       <label>Other Monitoring: </label>
                   <input type="text" name="OtherMonitoring" class="inline" id="Patient.Monitoring.OtherMonitoring" />
                </div>                
    </div>
</form>
