@{
    ViewBag.Title = "Monitoring";
}

<h2>Monitoring</h2>
<form action = "">
    <div class = "left half">
                <div class="input">
                    <label>Monitoring:</label>
                    <select id="Patient.Monitoring.Monitoring" name="Monitoring" multiple="multiple" style="float: right; width: 400px;">
                    </select>
                </div>
               <div class="input">
			       <label>Other Monitoring: </label>
                   <input type="text" name="OtherMonitoring" class="inline" id="Patient.Monitoring.OtherMonitoring" />
                </div>      
    </div>
</form>
