@{
    ViewBag.Title = "Monitoring";
}

<h2>Monitoring</h2>
<form action = "">
    <div class = "left half">
                <<div class="input">
                    <label>Monitoring:</label>
                    <select multiple name ="Monitoring" id="Patient.Monitoring.Monitoring" onchange="dateSelected(this)">
                    </select>
                </div>
               <div class="input">
			       <label>Other Monitoring: </label>
                   <input type="text" name="OtherMonitoring" class="inline" id="Patient.Monitoring.OtherMonitoring" />
                </div>       
    </div>
</form>
