@{
    ViewBag.Title = "Patient Info";
}


<form action="">
<div class="left half">
<div class="input">
    <label>Procedure: </label>
    <select name="Procedure">
		<option value="None" selected>None</option>
		<option value="volvo">Volvo</option>
		<option value="saab">Saab</option>
		<option value="audi">Audi</option>
	</select>
</div>
<div class="input">
	<label>Body Weight (kg):</label>
    <input type="text" name="weight" class="inline">kg
</div>
<div class="input">
	<label>Age:</label>
    <input type="text" name="Years" placeholder="Years" class="inline">
    <input type="text" name="months"placeholder="Months" class="inline"/>
</div>
<div class="input">
    <label>Temperament: </label>
    <select name="Temperament">
		<option value="None" selected>N/A</option>
		<option value="Option1">Nice</option>
		<option value="Option2">Ok</option>
		<option value="Option3">Mean</option>
	</select>
</div>
<h2>Pain Assesment</h2>
<div class="input">
    <label>Preoperative: </label>
    <select name="PreOp">
		<option value="None" selected>None</option>
		<option value="Option1">Mild</option>
		<option value="Option2">Moderate</option>
		<option value="Option3">Severe</option>
	</select>
</div>
<div class="input">
    <label>Anticipated Postoperative: </label>
    <select name="PostOp">
		<option value="None" selected>None</option>
		<option value="Option1">Mild</option>
		<option value="Option2">Moderate</option>
		<option value="Option3">Severe</option>
	</select>
</div>
</div>
</form>
