@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<form name="input" method="get" action="">
    <div class="left half">
        <div class="input">
			<label>First Name:</label>
            <input type="text" name="FName"  placeholder="Nick">
        </div>
        <div class="input">
            <label>Last Name: </label>
            <input type="text" name="LName" class="inline">
        </div>
        <div class="input">
            <label>Email: </label>
            <input type="text" name="email" class="inline">
        </div>
        <div class="input">
            <label>Date</label>
            <input type="text" id="datepicker" name="Date" class="inline">
        </div>
    </div>
</form>
