@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to the OSU SOAP Application</h2>

<script type="text/javascript">
    var rootDir = '@Url.Content("~/")';
</script>

@RenderPage("~/Views/Home/Login.cshtml")
