
@font-face 
{
    font-family: Roboto Condensed;
    src: url('../Content/Fonts/RobotoCondensed-Regular.ttf');
}
html
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Lucida Grande",Avant Garde, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    background-color: #383636;
}
.center 
{
    margin-left: auto;
    margin-right:auto;
}

.left {     float:left; }
.right {    float: right; }
.half {     width: 50%; }
.hide {     display:none; }


#top 
{
    height:34px;
    background: #d61515; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2MTUxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzAzMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d61515 0%, #bc0303 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d61515), color-stop(100%,#bc0303)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d61515 0%,#bc0303 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d61515 0%,#bc0303 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d61515 0%,#bc0303 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d61515 0%,#bc0303 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d61515', endColorstr='#bc0303',GradientType=0 ); /* IE6-8 */
}

#title    
{
    float: left;
	color: White;
}
#user-info     
{
    float:right;
    margin-top: 15px;
}
#user-info span
{
    color:White;
	margin:15px;
}

#profile-menu {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    display: none;
    background-color: #f4f4f4;
    position: absolute;
    width: 210px;
    z-index: 100;
    border: 1px solid rgb(182, 182, 182);
    text-align: left;
    padding: 12px;
    top: 30px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
    color: rgb(109, 109, 109);
    font-size: 11px;
}

#profile-menu input[type=text], #profile-menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid rgb(180, 180, 180);
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#profile-menu p {
    margin:0;
}
#profile-menu a {
    color:#6AC;
}
#profile-menu label {
    font-weight:normal;
}
#profile-menu p a {
    color:#27B!important;
}
#edit-profile-submit {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #d61515 repeat-x scroll 0 0;
    border: 1px solid #d61515;
    color: #fff;
    text-shadow: 0 -1px 0 #d61515;
    padding: 4px 10px 5px;
    font-size: 11px;
    margin: 0 5px 0 0;
    font-weight: bold;
}
#edit-profile-submit:hover, #edit-profile-submit:focus {
    cursor:pointer;
}

/* container for tab navigation and content*/
div#tabs {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	width: 90%;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#f9f9f9;
}

/* container for tab content */
div#tabs div#tab-items {
	position: absolute;
	height: 85%;
}

/*single tab content page */
.item {
    float: left;
    height: 98%;
    padding: 15px;
    width: 98%;
}

/* Class for navigation container */
div.navi{
    background: #383636;
	height: 90px;
	position: relative;
	top: 90%;
	width: 100%;
}

/* container for tabs links */
 #thumbs  {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

/* tabs link */
.t {
	padding: 0 !important;
	border: 0 !important;
}


#thumbs a {
	display: block;
	width: 100px;
	float: left;
	height: 90px;
	cursor: pointer;
	background: url('../Images/InActive.jpg');
	border: 1px solid #acb0a8;
	text-decoration:none;
}
#thumbs a.active
{
    cursor: default !important;
    background: url('../Images/Active.jpg');
}

/*Text inside links */
#thumbs a div
{
    text-align:center;
    margin-top:25px;
    color:  white;
}

form div.input 
{
    min-height: 35px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #aaa;
    margin: 5px 0;
    clear: both;
    color: #444444;
}

div.left.half div.input
{
    margin-right: 15px;
}

div.right.half div.input
{
    margin-left: 15px;
}

form div.input label 
{
    float: left;
    padding: 8px;
}

form div.input input[type=text], form div.input input[type=password], form div.input textarea {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  float: right;
  padding: 8px;
  background: #ffffff;
  width: 50%;
}

form div.input input[type=text]:focus, form div.input textarea:focus, form div.input input[type=password]:focus {
  box-shadow: 0 0 5px red;
  border: 1px solid red;
}

form div.input select {
  border: 1px solid #DDDDDD;
  float: right;
  padding: 8px;
  background: #ffffff;
  width: 50%;
}

form div.input label.radio, form div.input label.checkbox 
{
    float: right !important;
    display: inline-block;
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  border: 1px solid #cacece;
  border-radius: 3px;
  background-color: #fafafa;    
}
form div.input input.radio {
    display:none;
}

form div.input label.radio {
    padding: 8px 40px;
    margin: 0px 10px;
}


form div.input input[type=radio]:checked + label, form div.input input.checkbox:checked + label
{
  background-color: #756B6F;
  color: #FFFFFF;
}

form div.input input.checkbox {
    display:none;
}

form div.input label.checkbox {
    margin: 4px 5px;
    padding: 4px !important;
    font-size: 12px;
}