
@font-face 
{
    font-family: Roboto Condensed;
    src: url('../Content/Fonts/RobotoCondensed-Regular.ttf');
}
html
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: .85em;
    font-family:  Avant Garde, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

form label.inline 
{
    font-weight: bold;
    padding:0 5px 0 0;
}

form input[type="text"].inline
{
    border:1px solid #a1a1a1;
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
}
