
@font-face 
{
    font-family: Roboto Condensed;
    src: url('../Content/Fonts/RobotoCondensed-Regular.ttf');
}
html
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Lucida Grande",Avant Garde, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/* inline label class*/
form label.inline 
{
    font-weight: bold;
    padding:0 5px 0 0;
}
/* inline input class*/
form input[type="text"].inline
{
    border:1px solid #a1a1a1;
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
}
/* container for tab navigation and content*/
#scroll {
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
	width: 80%;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* container for tab content*/
#scrollable-items {
	width: 9999em;
	position: absolute;
	height: 400px;
}

/*single tab content page */
.item {
	float: left;
	width: 1000px;
	height: 340px;
	text-align: center;
}

/* container for tabs links */
#thumbs {
	background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	height: 90px;
	position: relative;
	top: 90%;
	width: 100%;
}

/* tabs link */
.t {
	padding: 0 !important;
	border: 0 !important;
}
.t a {
	margin-left: 11px;
	display: block;
	width: 99px;
	float: left;
	height: 90px;
	cursor: pointer;
}
.t a.active {	cursor: default !important;}

/* Class for navigation container */
.navi {
	margin-left: 314px;
	_margin-left: 304px;
}

/* Images for tabs links. each number represents it's correseponding tab link*/
#t0 {
	margin-left: 20px;
	_margin-left: 10px;
	background: red;
}
#t0.active {background-position: -21px 0 !important;}
#t0:hover {	background-position: -21px -180px;}
#t0:active {background-position: -21px -270px;}

#t1 {   background-position: -325px -90px;
    	background: blue;
}
#t1:hover { 	background-position: -325px -180px;}
#t1:active {	background-position: -325px -270px;}
#t1.active {	background-position: -325px 0 !important;}

#t2 {
	background-position: -435px -90px;
	background: green;
}
#t2:hover {	    background-position: -435px -180px;}
#t2:active {	background-position: -435px -270px;}
#t2.active {	background-position: -435px 0 !important;}

#t3 {
	background-position: -545px -90px;
	background: purple;
}
#t3:hover { 	background-position: -545px -180px;}
#t3:active {	background-position: -545px -270px;}
#t3.active {	background-position: -545px 0 !important;}

#t4 {
	background-position: -655px -90px;
	background: black;
}
#t4:hover {	    background-position: -655px -180px;}
#t4:active {	background-position: -655px -270px;}
#t4.active {	background-position: -655px 0 !important;}